body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --index: calc(1vw + 1vh);
}

body {
    background-color: #010101;
    color: #fff;
    font-family: Arial, sans-serif;
}

.img {
    background-size: cover;
    background-position: center;
    color: #fffb00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--index);
}

header .logo h1 {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: var(--index);
}

.text-container {
    font-size: calc(var(--index) * 1.2);
    color: #fffb00;
    text-shadow: 0 0 10px #eca12f;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: calc(var(--index) / 3);
    padding: calc(var(--index) * 0.5);
    max-width: calc(var(--index) * 30);
}

.form-container {
    width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: var(--index);
    border-radius: var(--index);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    color: #fff;
}

table th, table td {
    border: 1px solid #eca12f;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #333;
    color: #fffb00;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fffb00;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #eca12f;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.2rem;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
}

#cancel-edit {
    background-color: #d9534f;
}

#cancel-edit:hover {
    background-color: #c9302c;
}


#notification {
    display: block; /* Убедитесь, что уведомления видимы */
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#notification.hidden {
    display: none;
}
